#labelThird{
   background-image:url("C:/Users/guixiangyu/Desktop/QT_CODE/robotProject/cartesianSpace.jpg");
}

#labelFirst{
   background-image:url("C:/Users/guixiangyu/Desktop/QT_CODE/robotProject/visual.jpg");
}

#labelSecond{
   background-image:url("C:/Users/guixiangyu/Desktop/QT_CODE/robotProject/inverseKinematics.jpg")
}

#labelFourth{
   background-image:url("C:/Users/guixiangyu/Desktop/QT_CODE/robotProject/prompt.png")
}

#labelFifth{
   background-image:url("C:/Users/guixiangyu/Desktop/QT_CODE/robotProject/setting-filling.png")
}
